body{
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
}

#canvas{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
}

#pause{
	width:100px;
	height:35px;
    margin: auto;
    position: absolute;
    top: calc(50% + 300px);
    bottom: 0;
    left: 0;
    right: calc(130px);
    border-style: solid;
    color:white;
    background-color: black;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size:18px;
}
#clear{
	width:100px;
	height:35px;
    margin: auto;
    position: absolute;
    top: calc(50% + 300px);
    bottom: 0;
    left: calc(130px);
    right: 0;
    border-style: solid;
    color:white;
    background-color: black;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size:18px;

}